@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #111111;
  overflow: auto;
}

.head-container h1{
  font-family: Montserrat;
font-size: 80px;
font-weight: 700;
line-height: 97.52px;
text-align: center;
color: #FFFFFF;

}

.head-container p{
  font-family: Montserrat;
font-size: 28px;
font-weight: 400;
line-height: 34.13px;
text-align: center;
color: #FFFFFF


}

@media screen and (max-width:1440px) {

 .head-container h1{
  font-size: 60px; 
    font-weight: 600; 
    line-height: 72px; 
 }
 .head-container p{
  font-size: 24px; 
    font-weight: 400; 
    line-height: 30px; 
 }
}
@media screen and (max-width:700px) {

 .head-container h1{
  font-size: 40px;  
  font-weight: 500; 
  line-height: 48px;  
 }
 .head-container p{
  font-size: 18px;  
  font-weight: 400; 
  padding: 5px;
  line-height: 26px; }
}